
ex7-octave/.ipynb_checkpoints/runkMeans-checkpoint.m
ex7-octave/.ipynb_checkpoints/recoverData-checkpoint.m
ex7-octave/.ipynb_checkpoints/projectData-checkpoint.m
ex7-octave/.ipynb_checkpoints/plotProgresskMeans-checkpoint.m
ex7-octave/.ipynb_checkpoints/plotDataPoints-checkpoint.m
ex7-octave/.ipynb_checkpoints/pca-checkpoint.m
ex7-octave/.ipynb_checkpoints/kMeansInitCentroids-checkpoint.m
ex7-octave/.ipynb_checkpoints/findClosestCentroids-checkpoint.m
ex7-octave/.ipynb_checkpoints/ex7_pca-checkpoint.m
ex7-octave/.ipynb_checkpoints/ex7_pca-checkpoint.ipynb
ex7-octave/.ipynb_checkpoints/ex7-checkpoint.m
ex7-octave/.ipynb_checkpoints/ex7-checkpoint.ipynb
ex7-octave/.ipynb_checkpoints/computeCentroids-checkpoint.m
ex6-octave/.ipynb_checkpoints/ex6-checkpoint.ipynb
